* {
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}
.text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.text-expanded {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  align-items: center;
  /* display: block; */
  -webkit-line-clamp: 8;
  white-space: normal;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: initial initial;
}

.text::-webkit-scrollbar {
  width: 6px;
}

.text::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.text-expanded::-webkit-scrollbar-thumb {
  background-color: #c3c4c7; /* Customize the color if needed */
}

.text-expanded::-webkit-scrollbar-track {
  background-color: #e5e6e8; /* Customize the color if needed */
}

.after-expand p {
  align-items: center;
  vertical-align: middle;
}


@media(max-screen:450px){
  .App{
    min-width: 49rem;
  }
}